
p{
  font-family: 'Outfit', sans-serif;
}

input{
  text-align: start;
  margin-left:10px;
}
textarea{
  text-align: start;
  margin-left:10px;
}
.background {
  background-image: url('../../public/content/landing1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.content { 
  background-color: rgba(29, 29, 29, 0.178);
  backdrop-filter: blur(5px);
  height: 100vh;
 
}
.header{
  height: 10vh;
}
.lander{
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 90vh; 
  display: flex;
}
.logo {
	background: linear-gradient(-45deg, #1c0194, #038b37, #e89a3e, #e83e3e);
	background-size: 300%;
	font-weight: 900;
	font-size: 450%;
	letter-spacing: -2px;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}