@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
}
.img{
  margin-top: 10px;
    object-fit: cover;
    width: 200px;
    height: 200px;

}
.post{
  width: 50%;
  margin: auto;
}

h1{
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
